!!! html
html
  head
    link(rel="stylesheet",href="css/styles.css")
    meta(charset="utf-8")
  body
    #wrap
      h1 Hot Coffee Spilled All Over Your White Shirt
      p The audacity of hope and the seamlessness of courage is everything I need to get me through the dark
        |times. This is jusst a bunch of text to start working with some actual fileage and stuff.
      canvas#game

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="js/scripts.js")