@import 'nib'
global-reset()

body
  font 16px/22px 'Arial', sans-serif
  color #333
h1
  font-weight bold
  margin-bottom 15px

a
  text-decoration none

#wrap
  margin 0 auto
  width 960px
  padding 20px 0 0

#game
  width  600px
  height 300px